.addToDo {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_text {
    width: 250px;
    height: 25px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 12.5px;
    margin-bottom: 10px;
    padding-left: 10px; 
}

.addToDo_btn {
    display: flex;
}

#add {
    background-color: black;
    fill: #fff;
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.input_btn {
    width: 200px;
    height: 30px;
    background-color: black;
    margin-left: 25px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 15px;
    font-family: 'Courgette', cursive;
    font-size: 16px;
    color: white;
    cursor: pointer;
}